<launch>
	<!-- 载入 机器人 和 RoboCup@Home 的仿真场景 -->
	<include file="$(find world_simulation)/launch/world.launch"/>
	
	<!-- Rviz -->
	<!-- <arg name="rvizconfig" default="$(find wpr_simulation)/rviz/slam.rviz" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->

	<!-- map provider -->
	<include file="$(find create_map)/launch/main.launch"/>

	<!-- navigation -->
	<include file="$(find nav_pkg)/launch/nav.launch"/>
	
	<!-- controller -->
	<include file="$(find controller)/launch/controller.launch">

	<!-- ros web tool -->
	<node name="keyboard_vel_ctrl" pkg="wpr_simulation" type="keyboard_vel_ctrl" />
	<node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" />
	<include file="$(find rosbridge_server )/launch/rosbridge_websocket.launch" />
</launch>